#hjarchive ul {
  list-style: none;
  padding: 0;
}
#hjarchive ul ul {
  padding-left: 12px;
  display: none;
}

#hjarchive ul li span {
  font-size: 22px;
  padding: 0px;
  font-size: 16px;
  display: block;
  cursor: pointer;
}

#hjarchive ul li a {
  font-size: 22px;
  padding: 0px;
  font-size: 16px;
  display: block;
  cursor: pointer;
}
#hjarchive ul li.active a,
#hjarchive ul li.current a {
  color: #f4b12f;
}